SEISMIC_ROOT=/Users/yourusername/path/to/seismic
# This is the 1st private key Anvil provides under the mnemonic "test"*12
PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

# Optional: if you set these args, reth will use these directories
# to store chain state and static files
# RETH_DATA_DIR="/path/to/store/reth/chain/data"
# RETH_STATIC_FILES="/path/to/store/reth/static/files"
